
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


:root {

  --primary_color: #21114b;
  --secondary_color: #5418a7;
  --white_color: #f2f2f2;
  --ion-font-family: 'Montserrat', sans-serif !important;
  --ion-background-color: transparent;
  --ion-color: transparent;
}
ion-app {
  font-family: var(--ion-font-family);
  background-color: var(--white_color);
}

body {
  font-family: var(--ion-font-family);
}
